
<div class="content-home container animated fadeIn">
    <div class="left-container-home">
      <h1>Mejor Experiencia Turística</h1>
      <p class="w-75">
        "¡Bienvenido a tu puerta de entrada a una experiencia turística inolvidable! En nuestra plataforma, combinamos la magia del turismo con la potencia de la inteligencia artificial para ofrecerte recomendaciones personalizadas y exclusivas.
      </p>
      <a class="btn btn-start start" (click)="navigate()">Empezar</a>
    </div>
    <div class="right-container-home">
      <div class="logo"></div>
    </div>
</div>

<div class="container mb-5 animated fadeIn">
  <div class="d-grid justify-content-center flex-wrap">
    <h2 class="text-center text-uppercase mb-4">¿Que hacemos?</h2>
    <p class="text-center">
      Aprovechamos la popularidad y potencia la IA, los servicios necesarios, una avanzada plataforma de IA para facilitarte y brindarte el descubrimiento, conocimiento, además de generar un triptico personalizado de acuerdo a tus selecciones.
    </p>
  </div>
</div>

<div class="container mb-5 animated fadeIn">
  <div class="d-grid justify-content-center flex-wrap">
    <h2 class="text-center text-uppercase mb-4">quiénes somos</h2>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card mission-card">
          <div class="card-body d-flex align-items-center">
            <div class="icon me-3 rounded-circle">
              <img src="/assets/icons/white/icon-mision.png" alt="Misión Icono" class="icon-img">
            </div>
            <div>
              <h5 class="card-title">MISIÓN:</h5>
              <p class="card-text">
                Proporcionar a nuestros usuarios una experiencia turística única y personalizada, aprovechando la tecnología de inteligencia artificial para ofrecer recomendaciones precisas y emocionantes que satisfagan sus deseos y expectativas de viaje.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card vision-card">
          <div class="card-body d-flex align-items-center">
            <div class="icon me-3 rounded-circle">
              <img src="/assets/icons/white/icon-vision.png" alt="Visión Icono" class="icon-img">
            </div>
            <div>
              <h5 class="card-title">VISIÓN:</h5>
              <p class="card-text">
                Convertirnos en el destino preferido en línea para los viajeros que buscan aventuras personalizadas y memorables, impulsadas por la innovación y el compromiso de ofrecer experiencias turísticas excepcionales en todo el mundo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card objective-card">
          <div class="card-body d-flex align-items-center">
            <div class="icon me-3 rounded-circle">
              <img src="/assets/icons/white/icon-target.png" alt="Objetivo Icono" class="icon-img">
            </div>
            <div>
              <h5 class="card-title">OBJETIVO:</h5>
              <p class="card-text">
                Cambiar la manera en que las personas planifican y disfrutan de sus viajes, brindando acceso a una amplia gama de destinos, eventos y servicios de alta calidad, todo ello respaldado por tecnología de vanguardia y un enfoque centrado en el cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5 animated fadeIn" id="equipo">
  <div class="d-grid justify-content-center flex-wrap">
    <h2 class="text-center text-uppercase mb-5">Nuestro equipo</h2>
    <div class="d-flex justify-content-evenly align-items-center">
      <div class="col-md-3 mb-4">
        <div class="team-card text-center p-4">
          <img class="profile-img mb-3" src="/assets/img/cuba.jpeg" alt="cuba-photo">
          <h5 class="mb-1">ALVARO CUBA</h5>
          <span class="role text-danger">BACKEND</span>
          <p class="mt-2">
            Encargado de almacenar y organizar la información, hasta asegurarse de que todo funcione correctamente.
          </p>
          <a href="#" class="linkedin-icon">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="team-card text-center p-4">
          <img class="profile-img mb-3" src="/assets/img/ferrer.jpeg" alt="diego-photo">
          <h5 class="mb-1">DIEGO FERRER</h5>
          <span class="role text-danger">FRONTEND</span>
          <p class="mt-2">
            Encargado de todo el diseño, la presentación y la interactividad del sitio.
          </p>
          <a href="#" class="linkedin-icon">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5 animated fadeIn" id="tecnologia">
  <div class="d-grid justify-content-center flex-wrap mb-3">
    <h2 class="text-center text-uppercase mb-4">Nuestra tecnología</h2>
    <p class="text-center">
      En InkaPathways, utilizamos tecnología de vanguardia para transformar la experiencia de los turistas en Perú. Nuestro modelo de inteligencia artificial predictivo está diseñado para proporcionar recomendaciones personalizadas en tiempo real, adaptándose a las preferencias individuales de cada viajero. A continuación, te presentamos los componentes clave de nuestra solución tecnológica:
    </p>
  </div>

  <div class="d-flex justify-content-center align-items-center text-center gap-3">
    <div class="col-md-2 col-sm-4 col-6 mb-4">
      <div class="custom-card electric">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Inteligencia Artificial Predictiva</h5>
        </div>
        <img src="assets/icons/black/icon-ai.png" alt="Icono1" class="card-img-top">
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-6 mb-4">
      <div class="custom-card electric">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Análisis de Datos en Tiempo Real</h5>
        </div>
        <img src="assets/icons/black/icon-analysis.png" alt="Icono 2" class="card-img-top">
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-6 mb-4">
      <div class="custom-card argentinian">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Componentes del Sistema</h5>
        </div>
        <img src="assets/icons/black/icon-component.png" alt="Icono 3" class="card-img-top">
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-6 mb-4">
      <div class="custom-card argentinian">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Infraestructura Robusta</h5>
        </div>
        <img src="assets/icons/black/icon-infrastructure.png" alt="Icono 4" class="card-img-top">
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-6 mb-4">
      <div class="custom-card cornflower">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Interfaz de Usuario Intuitiva</h5>
        </div>
        <img src="assets/icons/black/icon-ui.png" alt="Icono 5" class="card-img-top">
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-6 mb-4">
      <div class="custom-card cornflower">
        <div class="card-body">
          <h5 class="card-title text-uppercase">Generación de Tríptico Turístico</h5>
        </div>
        <img src="assets/icons/black/icon-triptych.png" alt="Icono 6" class="card-img-top">
      </div>
    </div>
  </div>
</div>

<img class="bg-img" src="assets/img/bg_wallpaper_4.png">

<div class="container mb-5 animated fadeIn">
  <div class="d-grid justify-content-center flex-wrap">
    <h2 class="text-center text-uppercase mb-4">Beneficios</h2>
    <div class="content-benefits">
      <div class="block-benefits-one">
        <img src="assets/icons/green/icon-route.png" alt="unique ways">
        <h5 class="card-title text-uppercase my-3">descubre caminos unicos</h5>
        <p class="m-0">
          Explora rutas turísticas exclusivas, diseñadas especialmente para ti. Nuestro modelo de IA analiza tus preferencias y te sugiere caminos únicos que se alinean con tus intereses y estilo de viaje.
        </p>
      </div>
      <div class="block-benefits-two">
        <img src="assets/icons/green/icon-restaurant.png" alt="discover restaurants">
        <h5 class="card-title text-uppercase my-3">descubre restaurantes</h5>
        <p class="m-0">
          Encuentra los mejores restaurantes según tus gustos. Nuestro modelo de IA recomienda opciones culinarias que se ajustan a tus preferencias, asegurando que cada comida sea una experiencia memorable.
        </p>
      </div>
      <div class="block-benefits-three">
        <img src="assets/icons/green/icon-transport.png" alt="discover restaurants">
        <h5 class="card-title text-uppercase my-3">descubre transportes</h5>
        <p class="m-0">
          Obtén recomendaciones de transporte que se adaptan a tus necesidades. Desde opciones económicas hasta las más cómodas, nuestra IA te guía para que te desplaces de manera eficiente y sin contratiempos.
        </p>
      </div>
      <div class="block-benefits-four">
        <img src="assets/icons/green/icon-triptych.png" alt="discover restaurants">
        <h5 class="card-title text-uppercase my-3">entrega de triptico personalizado</h5>
        <p class="m-0">
          Recibe al final de tu viaje un tríptico turístico personalizado. Basado en tus experiencias y preferencias, este documento te proporciona una guía detallada y única, reflejando lo mejor de tu aventura.
        </p>
      </div>
      <div class="block-benefits-five">
        <img src="assets/icons/green/icon-ai.png" alt="discover restaurants">
        <h5 class="card-title text-uppercase my-3">aprendizaje fluido</h5>
        <p class="m-0">
          Nuestra IA mejora continuamente aprendiendo de cada interacción. Cuanto más la uses, más precisa y personalizada será su asistencia, garantizando que siempre obtengas las mejores recomendaciones posibles.
        </p>
      </div>
    </div>
  </div>
</div>
