@import 'src/styles';

h2 {
  font-size: 2rem !important;
  color: $lapiz-lazuli-color !important;
  font-weight: $T500 !important;
}

.stepper-container {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  gap: 30px;
}

.story {
  border-right: $black-color 1px solid;
}
