
<!--El navbar para los usuarios sin registrarse o logearse se muestra aqui!-->
<nav class="navbar navbar-expand-lg animated fadeIn">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand nav-link" href="#"><span>Inka</span>Pathways</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="goToSection('tecnologia')">Nuestra Tecnología</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="goToSection('equipo')">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/main-ia">Empezar</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-contact first" routerLink="/contact-us">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
