<mat-dialog-actions align="start" class="d-flex justify-content-between">
  <button mat-button color="primary" mat-dialog-close (click)="downloadleaflet()">
    <img src="assets/icons/white/download.png" alt="download triptyc">
  </button>
<!--  <button mat-fab extended color="primary" class="mb-3 w-25 rounded" (click)="downloadleaflet()">-->
<!--    <img class="me-2" src="assets/icons/white/download.png" alt="download triptyc">-->
<!--    Descargar tríptico-->
<!--  </button>-->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography content-dialog" id="showLeafletContent">

  <div>
    <p *ngFor="let respuesta of respuestas">{{ respuesta }}</p>
  </div>

  <div class="d-flex flex-row flex-wrap mb-5 gap-5 block-img">
    <div class="content-img">
      <img src="/assets/img/papa-huancaina.png" class="d-block w-100" alt="Papa a la Huancaína">
    </div>
    <div class="content-img">
      <img src="/assets/img/cuy-colorado.png" class="d-block w-100" alt="Cuy Colorado">
    </div>
    <div class="content-img">
      <img src="/assets/img/pachamanca.png" class="d-block w-100" alt="Pachamanca">
    </div>
  </div>

</mat-dialog-content>
