<ng-template [ngIf]="Details === false">
  <h4 class="text-secondary pb-2">Paso 3/5</h4>
  <h2>Escoge un tema</h2>
  <p>¡Escoge el tema de tu interés para empezar!</p>
  <hr>
    <h2 class="mt-5">EVENTOS</h2>
    <div class="d-flex flex-row flex-wrap mt-3 mb-5 gap-5">
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img" (click)="Details = true">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>

    <h2>SITIOS TURISTICOS</h2>
    <div class="d-flex flex-row flex-wrap my-3 mb-5 gap-5">
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img" (click)="Details = true">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>

    <h2>TRANSPORTE</h2>
    <div class="d-flex flex-row flex-wrap my-3 mb-5 gap-5">
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img" (click)="Details = true">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>

    <h2>COMIDAS</h2>
    <div class="d-flex flex-row flex-wrap my-3 gap-5">
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img" (click)="Details = true">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="content-img">
        <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>

    <div class="d-flex flex-row justify-content-end gap-3 mt-5">
      <button mat-raised-button color="accent" class="mb-3 w-25 rounded" (click)="Back()">
        Volver
      </button>
    </div>
</ng-template>
<ng-template [ngIf]="Details">
  <h4 class="text-secondary pb-2">Paso 3/5</h4>
  <h2>Información del tema seleccionado</h2>
  <hr>
  <form (ngSubmit)="Save()">
    <div class="info-image-content mt-5">
      <img src="/assets/bg-auth/bg_1.jpeg" class="d-block w-100" alt="...">
      <div>
        <h3 class="text-center">Fiestas de Yauyos</h3>
        <p>La Fiesta de la Tunantada se celebra el 20 de enero en la ciudad de Jauja, en honor a San Fabián y San Sebastián</p>
        <ul>
          <li>Primera capital DEL PERÚ.</li>
        </ul>
        <ul>
          <li>Cuna del famoso chuto.</li>
        </ul>
        <ul>
          <li>Más de 230 bailantes en un solo lugar.</li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-end gap-3 mt-5">
      <button mat-raised-button color="accent" class="mb-3 w-25 rounded" (click)="BackToPrevious()">
        Volver
      </button>
      <button type="submit" mat-raised-button color="primary" class="mb-3 w-25 rounded">
        Siguiente
      </button>
    </div>
  </form>
</ng-template>


